@import "tailwindcss";
* {
  box-sizing: border-box;
}
@font-face {
  font-family: vazirBold;
  font-weight: 600;
  font-display: swap;
  src: url("font/Vazir-Bold.woff2") format("woff2");
}
@font-face {
  font-family: vazirMediom;
  font-weight: 400;
  font-display: swap;
  src: url("font/Vazir-Medium.woff2") format("woff2");
}
@font-face {
  font-family: vazirLight;
  font-weight: 300;
  font-display: swap;
  src: url("font/Vazir-Light.woff2") format("woff2");
}

@theme {
  --color-hightGreen: #417f56;
  --color-customBlack: #121212;
  --color-customgray: #d9d9d9;
  --color-customgray2: #efefef;
  --color-customgray3: #717171;
  --font-vazirBold: "vazirBold";
  --font-vazirMediom: "vazirMediom";
  --font-vazirLight: "vazirLight";
  --breakpoint-higherSM: 43.75rem;
  --breakpoint-bigXl: 84.375rem;
}
